include ../block-header/block-header
include ../progress-list/progress-list

mixin education(items)
  section.education
    +block-header({ blockName: 'education', variant: 'condensed' })

    .education__list
      +progress-list(items, 'education')
