mixin contact-item({ type, data, attr })
  .contact-item
    .contact-item__type= type
    .contact-item__data
      if !attr
        span.contact-item__data-text= data
      else if attr === "site"
        a.contact-item__data-link(href=`http://${data}`, target="_blank", rel="noopener noreferrer")= data
      else
        a.contact-item__data-link(href=`${attr}: ${data}`, target="_blank", rel="noopener noreferrer")= data
