@import '../../styles/variables/colors';

.contact-item {
  display: table-row;

  @media screen and (max-width: 400px), screen and (max-width: 1094px) and (min-width: 723px) {
    display: block;
    padding: 0.714rem 0;
    text-align: center;
  }

  &__data {
    color: $black;
    display: table-cell;
    font-size: 1.34rem;
    letter-spacing: -0.03rem;
    padding-left: 0.75rem;

    @media screen and (max-width: 400px), screen and (max-width: 1094px) and (min-width: 723px) {
      display: block;
      padding: 0;
    }
  }

  &__type {
    color: $blue;
    display: table-cell;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: -0.03rem;
    padding: 1.55rem 1.7rem 0.9rem 0.1rem;
    text-transform: uppercase;

    @media screen and (max-width: 400px), screen and (max-width: 1094px) and (min-width: 723px) {
      display: block;
      margin-bottom: 0.714rem;
      padding: 0;
    }
  }

  &:nth-child(4) {
    .contact-item__type {
      padding-top: 1.4rem;

      @media screen and (max-width: 400px), screen and (max-width: 1094px) and (min-width: 723px) {
        padding-top: 0;
      }
    }
  }

  &__data-link {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $blue;
    }
  }
}
