@media screen and (max-width: 720px) {
  .section-wrapper,
  .section-wrapper_width_wide {
    width: 100%;
  }

  .layout-grid {
    flex-wrap: nowrap;
  }

  .section-wrapper_width_wide {
    margin-left: 0;
  }
}