@import '../../styles/colors';

.progress-list-item {
  position: relative;
  color: $black;

  &:before {
    content: "";
    background-color: $black;
    width: 1.324em;
    height: 1.324em;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -44px;
    top: 5px;
  }

  &:nth-child(1) {
    margin-top: 27.2px;
  }

  &:nth-child(3) {
  }

  &__name {
    font-weight: bold;
    font-size: 1.66rem;
    text-transform: uppercase;
    margin-right: 15px;

    &_color {
      &_blue {
        color: $blue;
      }

      &_black {
        color: inherit;
      }
    }
  }

  &__period {
    font-size: 1.7rem;
    display: inline-block;
  }

  &__title {
    font-size: 1.66rem;
    text-transform: uppercase;
    line-height: 1.45;
  }

  &__description {
    font-size: 1rem;
    display: inline-block;
    margin-top: 2.5px;
    margin-left: 2px;
    margin-bottom: 12px;
    line-height: 1.255;

    &:nth-child(3) {
      margin-bottom: 11px;
    }
  }
}
