@import '../../styles/variables/colors';

.progress-list-item {
  position: relative;
  color: $black;

  &:before {
    content: '';
    background-color: $black;
    width: 1.324rem;
    height: 1.324rem;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    left: -2.596rem;
    top: 0.295rem;
  }

  &__name {
    font-weight: bold;
    font-size: 1.66rem;
    text-transform: uppercase;
    margin-right: 0.86rem;

    &_color {
      &_blue {
        color: $blue;
      }

      &_black {
        color: inherit;
      }
    }
  }

  &__period {
    font-size: 1.7rem;
    display: inline-block;
    letter-spacing: -0.015rem;
  }

  &__title {
    font-size: 1.66rem;
    text-transform: uppercase;
    line-height: 1.4;
  }

  &__description {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0.168rem;
    margin-left: 0.118rem;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    letter-spacing: -0.004rem;
  }
}
