@import '../../styles/variables/colors';

.progress-list-item {
  color: $black;
  position: relative;

  &::before {
    background-color: $black;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 1.324rem;
    left: -2.596rem;
    position: absolute;
    top: 0.4rem;
    width: 1.324rem;
  }

  &__name {
    font-size: 1.66rem;
    font-weight: bold;
    margin-right: 0.86rem;
    text-transform: uppercase;
    letter-spacing: -0.04rem;

    &_color {
      &_blue {
        color: $blue;
      }

      &_black {
        color: inherit;
      }
    }
  }

  &__period {
    display: inline-block;
    font-size: 1.7rem;
    letter-spacing: -0.04rem;
  }

  &__title {
    font-size: 1.66rem;
    line-height: 1.3;
    text-transform: uppercase;
    letter-spacing: -0.045rem;
  }

  &__description {
    display: inline-block;
    font-size: 1rem;
    letter-spacing: -0.018rem;
    line-height: 1.2;
    margin-bottom: 0.5rem;
    margin-left: 0.118rem;
    margin-top: 0.168rem;
  }
}
