include ../header/header
include ../block-header/block-header
include ../profile/profile
include ../contact/contact
include ../skills/skills
include ../education/education
include ../experience/experience
include ../software/software

mixin page
  .page
    - const pageSectionWide = "page__section page__section_width_wide";

    section.page__section.page__section_type_for-header
      +header

    section.page__section.page__section_type_for-profile
      +block-header({
        iconName: "profile-icon.png",
        blockName: "profile"
      })
      .page__section-content.page__section-content_type_for-profile
        +profile

    section.page__section.page__section_type_for-contact
      .page__section-header.page__section-header_type_for-contact
        +block-header({
          iconName: "contact-icon.png",
          blockName: "contact"
        })

      -
        const contactsItems = [
          {
            type: "address",
            data: "Main Street, City."
          },
          {
            type: "e-mail",
            data: "contact@domain.com",
            attr: "mailto"
          },
          {
            type: "phone",
            data: "555-555-555",
            attr: "tel"
          },
          {
            type: "website",
            data: "www.yourweb.com",
            attr: "site"
          }
        ];

      +contact(contactsItems)

    section.page__section.page__section_type_for-skills
      +block-header({
        iconName: "skills-icon.png",
        blockName: "skills"
      })
      -
        const skillsItems = [
          {
            name: "creative",
            level: 9
          },
          {
            name: "teamwork",
            level: 11
          },
          {
            name: "innovate",
            level: 6
          },
          {
            name: "communication",
            level: 11
          }
        ];

      .page__section-content.page__section-content_type_for-skills
        +skills(skillsItems)

    section(class=[pageSectionWide, "page__section_type_for-education"])
      +block-header({
        iconName: "education-icon.png",
        blockName: "education"
      })
      -
        var educationDescription = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. " +
        "Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis " +
        "dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque."

        var educationItem = {
          name: "master degree",
          period: "Feb 2011 - Jun 2014",
          title: "university name",
          description: educationDescription,
          nameColor: "blue"
        }

      .page__section-content.page__section-content_type_for-education
        +education([
          educationItem,
          educationItem,
          educationItem,
          educationItem
        ])

    section(class=[pageSectionWide, "page__section_type_for-experience"])
      +block-header({
        iconName: "experience-icon.png",
        blockName: "experience"
      })
      -
        var experienceItem = {
          name: "company name",
          period: "Feb 2011 - Jun 2014",
          title: "your job here",
          description: educationDescription,
          nameColor: "black"
        }

      .page__section-content.page__section-content_type_for-experience
        +experience([
          experienceItem,
          experienceItem,
          experienceItem
        ])

    section(class=pageSectionWide)
      +block-header({
        iconName: "software-icon.png",
        blockName: "software"
      })
      -
        var softwareItems = [
          {
            tool: "photoshop",
            possession: 505/554*100
          },
          {
            tool: "illustrator",
            possession: 391/554*100
          },
          {
            tool: "indesign",
            possession: 312/554*100
          },
          {
            tool: "dreamweaver",
            possession: 461/554*100
          },
          {
            tool: "after effects",
            possession: 342/554*100
          },
          {
            tool: "html&css3",
            possession: 505/554*100
          }
        ];

      .page__section-content.page__section-content_type_for-software
        +software(softwareItems)
