.page {
  align-content: space-between;
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  max-height: 140rem;
  padding-left: 3.4rem;
  padding-right: 3.2rem;
  padding-top: 4.4rem;

  @media screen and (max-width: 400px) {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  @media screen and (max-width: 726px) {
    flex-wrap: nowrap;
    max-height: none;
  }

  &__section {
    margin-bottom: 2.7rem;
    width: 37%;

    @media screen and (max-width: 726px) {
      width: 100%;
    }

    &_width {
      &_wide {
        width: 56.5%;

        @media screen and (max-width: 726px) {
          margin-left: 0;
          width: 100%;
        }
      }
    }

    &_type {
      &_for-header {
        margin-bottom: 4.65rem;
        margin-left: 0.15rem;
        margin-top: 0.1rem;
      }

      &_for-contact {
        margin-bottom: 2.2715rem;
        width: 36.9%;
      }

      &_for-skills {
        width: 36.8%;
      }

      &_for-header, &_for-profile, &_for-contact, &_for-skills {
        @media screen and (max-width: 726px) {
          margin-left: 0;
        }
      }

      &_for-education, &_for-experience {
        margin-bottom: 1.6rem;
      }

      &_for-software {
        margin-bottom: 4.2rem;

        @media screen and (max-width: 726px) {
          margin-bottom: 2rem;
        }
      }
    }
  }

  &__section-header {
    &_type_for-contact {
      margin-left: 0.118rem;

      @media screen and (max-width: 726px) {
        margin-left: 0;
      }
    }
  }

  &__section-content {
    &_type {
      &_for-profile {
        margin-left: 0;
        margin-top: 0.65rem;
      }

      &_for-skills {
        margin-top: 1.35rem;
      }

      &_for-education {
        margin-top: 1.4rem;
      }

      &_for-experience {
        margin-top: 2.45rem;
      }

      &_for-education, &_for-experience {
        margin-left: 1.7rem;

        @media screen and (max-width: 600px) {
          margin-left: 0.6rem;
        }

        @media screen and (max-width: 400px) {
          margin-top: 1.5rem;
        }
      }

      &_for-software {
        margin: 1.4rem 0.0295rem 0 0.5rem;
        width: 99%;
      }
    }
  }
}
