include ../user-info/user-info
include ../block-header/block-header
include ../contact/contact
include ../skills/skills
include ../education/education
include ../experience/experience
include ../software/software

mixin page
  .page
    .page__side
      section.page__user-info
        +user-info

      section.page__profile
        +block-header({
          iconName: "profile-icon.png",
          blockName: "profile"
        })
        .page__profile-content
          span
            | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
            | Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            | Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
            | Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
            | In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.
            | Nullam dictum felis eu
            strong pede mollis pretium. Integer tincidunt.
              |  Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus.
              | Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim.
              | Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
              | Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum.

      section.page__contact
        +block-header({
          iconName: "contact-icon.png",
          blockName: "contact"
        })

        -
          const contactItems = [
            {
              type: "address",
              data: "Main Street, City."
            },
            {
              type: "e-mail",
              data: "contact@domain.com",
              attr: "mailto"
            },
            {
              type: "phone",
              data: "555-555-555",
              attr: "tel"
            },
            {
              type: "website",
              data: "www.yourweb.com",
              attr: "site"
            }
          ];

        +contact(contactItems)

      section.page__skills
        +block-header({
          iconName: "skills-icon.png",
          blockName: "skills"
        })
        -
          const skillItems = [
            {
              name: "creative",
              level: 9
            },
            {
              name: "teamwork",
              level: 11
            },
            {
              name: "innovate",
              level: 6
            },
            {
              name: "communication",
              level: 11
            }
          ];

        .page__skills-content
          +skills(skillItems)

    .page__side.page__side_width_wide
      section.page__education
        +block-header({
          iconName: "education-icon.png",
          blockName: "education"
        })
        -
          var educationDescription = "Lorem ipsum dolor sit amet, consectetuer adipiscing elit. " +
          "Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis " +
          "dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.";

          var educationItem = {
            name: "master degree",
            periodFrom: "Feb 2011",
            periodTo: "Jun 2014",
            title: "university name",
            description: educationDescription,
            nameColor: "blue"
          };

        .page__education-content
          +education([
            educationItem,
            educationItem,
            educationItem,
            educationItem
          ])

      section.page__experience
        +block-header({
          iconName: "experience-icon.png",
          blockName: "experience"
        })
        -
          var experienceItem = {
            name: "company name",
            periodFrom: "Feb 2011",
            periodTo: "Jun 2014",
            title: "your job here",
            description: educationDescription,
            nameColor: "black"
          };

        .page__experience-content
          +experience([
            experienceItem,
            experienceItem,
            experienceItem
          ])

      section.page__software
        +block-header({
          iconName: "software-icon.png",
          blockName: "software"
        })
        -
          var softwareItems = [
            {
              tool: "photoshop",
              possession: 505/554*100
            },
            {
              tool: "dreamweaver",
              possession: 461/554*100
            },
            {
              tool: "illustrator",
              possession: 391/554*100
            },
            {
              tool: "after effects",
              possession: 342/554*100
            },
            {
              tool: "indesign",
              possession: 312/554*100
            },
            {
              tool: "html&css3",
              possession: 505/554*100
            },
          ];

        .page__software-content
          +software(softwareItems)
