@import './colors';

html {
  max-width: 1920px;
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: calc(10px + 0.5vw);
  color: $black;

  @media screen and (max-width: 1094px) {
    font-size: 14px;
  }
}



