html {
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: calc(9.791px + 0.5vw);
  color: #000000;

  @media screen and (max-width: 1094px) {
    font-size: 8.5px + 0.005*1094px;
  }
}

body {
  max-width: 1920px;
}

.section-wrapper {
  width: 36.5%;
  margin-bottom: 90px*0.55;

  @media screen and (max-width: 722px) {
    width: 100%;
  }

  &_width {
    &_wide {
      width: 56%;
      margin-right: 2px;

      @media screen and (max-width: 722px) {
        width: 100%;
        margin-left: 0;
      }
    }
  }

  &_type {
    &_for-header {
      margin-bottom: 150px*0.55;
      margin-left: 6px;
    }

    &_for-profile {
      margin-left: 4px;
    }

    &_for-contact {
      margin-left: 3px;
    }

    &_for-skills {
      margin-top: -11px;
      margin-left: 3px;
    }

    &_for-header, &_for-profile, &_for-contact, &_for-skills {
      @media screen and (max-width: 722px) {
        margin-left: 0px;
      }
    }

    &_for-experience {
      margin-top: -18px;
    }

    &_for-software {
      margin-top: -18px;
    }
  }

  &__header {
    &_type_for-contact {
      margin-left: 2px;

      @media screen and (max-width: 722px) {
        margin-left: 0px;
      }
    }
  }

  &__content {
    &_type {
      &_for-education {
        width: 100%;
        margin-left: 15px;
        margin-top: -2.5px;
      }

      &_for-experience {
        margin-left: 15px;
        margin-top: 42px;
        width: 100%;
      }

      &_for-profile {
        margin-top: 12.7px;
        margin-left: 0.35px;
      }

      &_for-skills {
        margin-top: 29*0.774px;
      }

      &_for-software {
        margin-top: 26px;
        margin-left: 5.5px;
        margin-right: 0.5px;
        width: 100%;
      }
    }
  }
}

.layout-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 3.5em;
  margin-right: 3.309em;
  margin-top: 4.964em;
  max-height: 4000px*0.55;

  @media screen and (max-width: 400px) {
    margin-left: 8vw;
    margin-right: 8vw;
  }

  @media screen and (max-width: 722px) {
    flex-wrap: nowrap;
  }
}

