html {
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: calc(9.791px + 0.5vw);
  color: #000000;

  @media screen and (max-width: 1094px) {
    font-size: 8.5px + 0.005*1094px;
  }
}

body {
  max-width: 1920px;
}



