@import 'variables/colors';
@import 'mixins/font-face';

@each $type in 'regular', 'bold', 'light-semi-ext' {
  @include font-face('Myriad Pro', 'myriad-pro', $type);
}

html {
  background-color: $resume-background;
  color: $black;
  font-family: 'Myriad Pro', 'Arial', sans-serif;
  font-size: calc(10px + 0.5vw);
  font-style: normal;
  font-weight: normal;
  max-width: 1920px;

  @media screen and (max-width: 1094px) {
    font-size: 14px;
  }
}



