@import 'variables/colors';
@import 'mixins/font-face';

@each $type in 'regular', 'bold', 'light-semi-ext' {
  @include font-face('Myriad Pro', 'myriad-pro', $type);
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  font: normal normal 20px 'Myriad Pro', 'Arial', sans-serif;
  color: $color-secondary-main;
  
  @media screen and (max-width: 1094px) {
    font-size: 14px;
  }

  @media screen and (min-width: 1680px) {
    font-size: 25px;
  }
}

body {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}
