@import '../../styles/variables/colors';

.skills {
  &__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1.3rem 0 0;
  }

  &__item {
    text-align: center;
    width: 100%;
    list-style: none;
  }

  &__item-name {
    color: $color-text-primary;
    font-size: 1.68rem;
    letter-spacing: -0.05rem;
    margin-bottom: 0.4rem;
    margin-left: 0.27rem;
    text-transform: uppercase;
    overflow-wrap: anywhere;

    @media screen and (max-width: 400px) {
      font-size: 1.3rem;
    }
  }

  &__item-level {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1.3rem;
    width: 78%;

    @media screen and (max-width: 722px) {
      width: 50vw;
    }
  }

  &__item-point {
    background-color: $color-secondary;
    border-radius: 50%;
    height: 1.092rem;
    width: 1.092rem;

    @media screen and (max-width: 400px), screen and (max-width: 900px) and (min-width: 727px) {
      height: 0.8rem;
      width: 0.8rem;
    }

    &_checked {
      background-color: $color-primary;
    }  
  }
}
