include ../block-header/block-header

mixin skills(items)
  section.skills
    +block-header({ blockName: 'skills' })

    ul.skills__list
      each item in items
        - 
          const { name, maxLevel = 12 } = item;
          let { level } = item;
          let notChecked = maxLevel - level;

        li.skills__item
          .skills__item-name= name
          .skills__item-level
            while level > 0
              .skills__item-point.skills__item-point_checked
              - level -= 1;

            while notChecked > 0
              .skills__item-point
              - notChecked -= 1;
