@import '../../styles/variables/colors';

.user-info {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__photo-frame {
    width: 14.3rem;
    height: 14.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.12rem solid $blue;
    border-radius: 50%;
    margin: 0.65rem 0 1.9rem 0.8rem;
  }

  &__photo {
    background-color: $blue;
    border-radius: 50%;
    width: 12.6rem;
    height: 12.6rem;
  }

  &__description {
    color: $black;
    line-height: 0.9;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: -0.06rem;
    overflow-wrap: anywhere;
    margin-left: 0.6rem;
  }

  &__name {
    font-size: 3.4rem;
    font-weight: 300;

    @media screen and (max-width: 1094px) {
      font-size: 2.4rem;
    }
  }

  &__surname {
    font-size: 3.95rem;
    font-weight: bold;
    line-height: 0.9;
    letter-spacing: -0.1rem;

    @media screen and (max-width: 1094px) {
      font-size: 2.95rem;
    }
  }

  &__job {
    font-size: 1.565rem;
    font-weight: bold;
    letter-spacing: -0.05rem;
    margin-top: 0.7rem;

    @media screen and (max-width: 1094px) {
      font-size: 1.3rem;
    }
  }
}
