.resume {
  display: flex;
  justify-content: space-between;
  padding: 4.7rem 3.52rem 0.32rem 3.72rem;
  font-size: 0.985rem;
  letter-spacing: -0.01rem;
  line-height: 1.17769;

  @media screen and (max-width: 726px) {
    display: block;
  }

  @media screen and (max-width: 400px) {
    padding-left: 8vw;
    padding-right: 8vw;
  }

  &__side {
    display: flex;
    flex-direction: column;
    width: 37%;

    &_width_wide {
      width: 56.5%;
    }

    &, &_width_wide {
      @media screen and (max-width: 726px) {
        width: 100%;
      }
    }
  }

  &__user-info {
    margin-bottom: 4.9rem;
  }

  &__profile {
    margin-bottom: 2.6rem;
  }

  &__contact {
    margin-bottom: 2.1rem;
  }

  &__skills {
    margin-bottom: 2.6rem;
  }

  &__education {
    margin-bottom: 2.6rem;
  }

  &__experience {
    margin-bottom: 2.6rem;
  }

  &__software {
    margin-bottom: 4.2rem;

    @media screen and (max-width: 726px) {
      margin-bottom: 2rem;
    }
  }
}
