@font-face {
  font-family: 'Myriad Pro - Light Semi Ext';
  src: url('../fonts/MyriadPro-LightSemiExt/MyriadPro-LightSemiExt.woff') format('woff'),
       url('../fonts/MyriadPro-LightSemiExt/MyriadPro-LightSemiExt.ttf') format('truetype'),
       url('../fonts/MyriadPro-LightSemiExt/MyriadPro-LightSemiExt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
