@font-face {
  font-family: 'Myriad Pro - Regular';
  src: url('../fonts/MyriadPro-Regular/MyriadPro-Regular.woff') format('woff'),
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.ttf') format('truetype'),
       url('../fonts/MyriadPro-Regular/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
