@font-face {
  font-family: 'Myriad Pro - Bold';
  src: url('../fonts/MyriadPro-Bold/MyriadPro-Bold.woff') format('woff'),
       url('../fonts/MyriadPro-Bold/MyriadPro-Bold.ttf') format('truetype'),
       url('../fonts/MyriadPro-Bold/MyriadPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
