.education__description {
  color: #000000;
  font-family: "Myriad Pro - Regular";
  font-size: 1em;
  //width: 100%;
  font-weight: 400;
  line-height: 1.2;
  display: inline-block;
  margin-top: 2.5px;
  margin-left: 2px;
  line-height: 1.255;
}