.education__li {
  position: relative;
  margin-bottom: 12.5px;
}

.education__li:before {
  content: "";
  background-color: black;
  width: 1.324em;
  height: 1.324em;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -44px;
  top: 5px;
}

.education__li:nth-child(1) {
  margin-top: 54px*0.55;
}

.education__li:nth-child(4) {
  margin-top: -3px;
}
