.education__li {
  position: relative;
  margin-bottom: 13px;
}

.education__li:before {
  content: "";
  background-color: black;
  width: 40px*0.55;
  height: 40px*0.55;
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  left: -44px;
  top: 5px;
}

.education__li:nth-child(1) {
  margin-top: 54px*0.55;
}

.education__li:nth-child(4) {
  margin-top: -3px;
}