@import '../../styles/colors';

.skills-item {
  width: 100%;
  text-align: center;

  &__name {
    color: $black;
    font-size: 1.68rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-left: 0.27rem;
    letter-spacing: -0.02rem;
  }

  &__level {
    margin: 0 auto 1.298rem;
    display: flex;
    justify-content: space-between;
    width: 78%;

    @media screen and (max-width: 722px) {
      width: 50vw;
    }
  }

  &__point {
    width: 1.092rem;
    height: 1.092rem;
    background-color: $light-gray;
    border-radius: 50%;
  }

  &__point_checked {
    background-color: $blue;
  }
}
