mixin skills-item({ name, level, maxLevel = 12 })
  - var notChecked = maxLevel - level;

  .skills-item
    .skills-item__name= name
    .skills-item__level
      while level > 0
        div(class=["skills-item__point", "skills-item__point_checked"])
        - level--

      while notChecked > 0
        div(class=["skills-item__point"])
        - notChecked--

