@import '../../styles/variables/colors';

.skills-item {
  text-align: center;
  width: 100%;

  &__name {
    color: $black;
    font-size: 1.68rem;
    letter-spacing: -0.03rem;
    margin-bottom: 0.4rem;
    margin-left: 0.27rem;
    text-transform: uppercase;
    overflow-wrap: anywhere;

    @media screen and (max-width: 400px) {
      font-size: 1.3rem;
    }
  }

  &__level {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 1.2rem;
    width: 78%;

    @media screen and (max-width: 722px) {
      width: 50vw;
    }
  }

  &__point {
    background-color: $light-gray;
    border-radius: 50%;
    height: 1.092rem;
    width: 1.092rem;

    @media screen and (max-width: 400px), screen and (max-width: 900px) and (min-width: 727px) {
      height: 0.8rem;
      width: 0.8rem;
    }
  }

  &__point_checked {
    background-color: $blue;
  }
}
