mixin skills-item({ name, level })
  - var checked = +level;
  - var notChecked = 12 - checked;

  .skills-item
    .skills-item__name= name
    .skills-item__level
      while checked > 0
        div(class=['skills-item__point', 'skills-item__point_checked'])
        - checked--

      while notChecked > 0
        div(class=['skills-item__point'])
        - notChecked--

