include ../block-header/block-header
include ../contact-item/contact-item

mixin contact(items)
  section.contact
    +block-header("contact")

    .contact__table
      each item in items
        +contact-item(item)
