

.block-header__name {
  color: #3d6cb0;
  font-family: "Myriad Pro - Bold";
  margin-left: 2.4%;
  margin-top: -4px;
  font-size: 3.250vw;
  white-space: nowrap;
  //font-weight: 700;
  text-transform: uppercase;
  //background-color: yellow;
}