mixin block-header({ iconName, blockName })
  header.block-header
    img.block-header__icon(src=require(`../common.blocks/block-header/icons/${iconName}`) alt=blockName)
    div.block-header__name= blockName
    div.block-header__line
