

.block-header__name {
  //width: 300px;
  //height: 57px;
  color: #3d6cb0;
  font-family: "Myriad Pro";
  font-size: 82px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: yellow;
}