include ../common.blocks/header/header
include ../common.blocks/block-header/block-header
include ../common.blocks/profile/profile
include ../common.blocks/contact/contact
include ../common.blocks/skills/skills
include ../common.blocks/education/education
include ../common.blocks/experience/experience
include ../common.blocks/software/software

- const wideWrapperClasses = ['section-wrapper', 'section-wrapper_width_wide'];

doctype html
html
  head
    meta(charset = 'utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="description" content="Adaptive resume template")
    title Resume
  body
    .layout-grid
      section(class=['section-wrapper', 'section-wrapper_type_for-header'])
        +header

      section.section-wrapper
        +block-header('profile-icon.png', 'profile')
        +profile

      section.section-wrapper
        +block-header('contact-icon.png', 'contact')
        -
          const contactsItems = [
            {
              type: 'address',
              data: 'Main Street, City.'
            },
            {
              type: 'e-mail',
              data: 'contact@domain.com'
            },
            {
              type: 'phone',
              data: '555-555-555'
            },
            {
              type: 'website',
              data: 'www.yourweb.com'
            }
          ];

        +contact(contactsItems)

      section(class=['section-wrapper', 'section-wrapper_type_for-skills'])
        +block-header('skills-icon.png', 'skills')
        -
          const skillsItems = [
            {
              name: 'creative',
              level: '9'
            },
            {
              name: 'teamwork',
              level: '11'
            },
            {
              name: 'innovate',
              level: '6'
            },
            {
              name: 'communication',
              level: '11'
            }
          ];

        +skills(skillsItems)

      section(class=wideWrapperClasses)
        +block-header('education-icon.png', 'education')
        -
          var educationDescription = 'Lorem ipsum dolor sit amet, consectetuer adipiscing elit. ' +
          'Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis ' +
          'dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque.'

          var educationItem = {
            degree: 'master degree',
            studyingTime: 'Feb 2011 - Jun 2014',
            universityName: 'university name',
            educationDescription: educationDescription
          }

        +education([
          educationItem,
          educationItem,
          educationItem,
          educationItem
        ])



      section(class=wideWrapperClasses class=['section-wrapper_type_for-experience'])
        +block-header('experience-icon.png', 'experience')
        -
          var experienceItem = {
            degree: 'company name',
            studyingTime: 'Feb 2011 - Jun 2014',
            universityName: 'your job here',
            educationDescription: educationDescription
          }

        +experience([
          experienceItem,
          experienceItem,
          experienceItem
        ])

      section(class=wideWrapperClasses class=['section-wrapper_type_for-software'])
        +block-header('software-icon.png', 'software')
        -
          var softwareItems = [
            {
              tool: 'photoshop',
              possession: 505/554*100
            },
            {
              tool: 'illustrator',
              possession: 391/554*100
            },
            {
              tool: 'indesign',
              possession: 312/554*100
            },
            {
              tool: 'dreamweaver',
              possession: 461/554*100
            },
            {
              tool: 'after effects',
              possession: 342/554*100
            },
            {
              tool: 'html&css3',
              possession: 505/554*100
            }
          ];

        +software(softwareItems)

