include ../common.blocks/block-header/block-header
include ../common.blocks/contact/contact__content
include ../common.blocks/skills/skills__skill
include ../common.blocks/education/education__item
include ../common.blocks/software/software__item

- const wideWrapperClasses = ['section-wrapper', 'section-wrapper_width_wide'];

doctype html
html
    head
        meta(charset = 'utf-8')
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(name="description" content="Adaptive resume template")
        title Resume
    body
        .layout-grid
            section(class=['section-wrapper', 'section-wrapper_type_for-header'])
                .header__disk
                    .header__disk-inner
                .header__name
                    span.header__name-here name here
                    <br>
                    span.header__surname surname
                .header__job graphic designer

            section.section-wrapper
                +header('profile-icon.png', 'profile')
                include ../common.blocks/profile/profile__content

            section.section-wrapper
                +header('contact-icon.png', 'contact')
                table.contact__table
                    -
                        const contact = [['address', 'Main Street, City.'], ['e-mail', 'contact@domain.com'],
                                ['phone', '555-555-555'], ['website', 'www.yourweb.com']];
                    each item in contact
                        +contact(item[0], item[1])

            section(class=['section-wrapper', 'section-wrapper_type_for-skills'])
                +header('skills-icon.png', 'skills')
                .skills__content
                    - const skills = [['creative', '9'], ['teamwork', '11'], ['innovate', '6'], ['communication', '11']];
                    each item in skills
                        +skill(item[0], item[1])

            section(class=wideWrapperClasses)
                +header('education-icon.png', 'education')
                ul.education__ul
                    - for (let i = 0; i < 4; i++)
                        +education('master degree', 'Feb 2011 - Jun 2014', 'university name')

            section(class=wideWrapperClasses class=['section-wrapper_type_for-experience'])
                +header('experience-icon.png', 'experience')
                ul(class=['education__ul', 'experience__ul'])
                    - for (let i = 0; i < 3; i++)
                        +education('company name', 'Feb 2011 - Jun 2014', 'your job here', 'job')

            section(class=wideWrapperClasses class=['section-wrapper_type_for-software'])
                +header('software-icon.png', 'software')
                .software__content-wrapper
                    -
                        const software = [['photoshop', 505/554*100], ['illustrator', 391/554*100],
                                   ['indesign', 312/554*100], ['dreamweaver', 461/554*100],
                                   ['after effects', 342/554*100], ['html&css3', 505/554*100]];
                    each item in software
                        +software(item[0], item[1])
