include ../common.blocks/block-header/block-header
include ../common.blocks/contact/contact__content
include ../common.blocks/skills/skills__skill

doctype html
html
    head
        meta(charset = 'utf-8')
        title Resume
    body
        .section-wrapper
            +header('PROFILE_ICON.png', 'profile')
            include ../common.blocks/profile/profile__content
        .section-wrapper
            +header('CONTACT_ICON.png', 'contact')
            table.contact__table
                +contact('adress', 'Main Street, City')
                +contact('e-mail', 'contact@domain.com')
                +contact('phone', '555-555-555')
                +contact('website', 'www.yourweb.com')
        .section-wrapper
            +header('SKILLS_ICON.png', 'skills')
            .skills__content
                +skill('creative', '9')
                +skill('teamwork', '11')
                +skill('innovate', '6')
                +skill('communication', '11')










