.contact__type {
  color: #3d6cb0;
  font-family: "Myriad Pro - Bold";
  font-size: (41/31) + em;
  text-transform: uppercase;
  //border: 1px solid black;
  padding: 40px*0.55;
  padding-right: 85px*0.55;
  padding-left: 0px;
  //background-color: bisque;
}