.contact__type {
  display: table-cell;
  color: #3d6cb0;
  font-family: "Myriad Pro - Bold";
  font-size: 1.3em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 32px*0.55;
  padding-top: 25px;
  padding-right: 1.79em;
  padding-left: 0px;
}
