@import '../contact-item/contact-item';

.contact {
  &__table {
    display: table;
    line-height: 1rem;
    margin-top: 0.5rem;

    @media screen and (max-width: 400px), screen and (max-width: 1094px) and (min-width: 723px) {
      align-items: center;
      display: flex;
      flex-direction: column;
    }
  }
}
