@import '../progress-list-item/progress-list-item';

.progress-list {
  list-style-type: none;
  width: 90%;

  &__item {
    &:nth-child(1) {
      margin-bottom: 0.3rem;
    }

    &:nth-child(2) {
      margin-bottom: 0.18rem;
    }

    &:nth-child(3) {
      margin-bottom: 0.1rem;
    }

    &_type {
      &_for-experience {
        &:nth-child(1) {
          margin-bottom: 0.09rem;
        }

        &:nth-child(2) {
          margin-bottom: 0.32rem;
        }
      }
    }
  }
}
