mixin header()
  .header
    .header__disk
      .header__disk-inner
    .header__name
      span.header__name-here name here
      <br>
      span.header__surname surname
    .header__job graphic designer
