mixin header({ name = "name here", surname = "surname", job = "graphic designer" } = {})
  .header
    .header__disk
      .header__disk-inner
    .header__name
      .header__name-here= name
      .header__surname= surname
    .header__job= job
