mixin header({ name = 'name here', surname = 'surname', job = 'graphic designer' } = {})
  .header
    .header__disk
      .header__disk-inner
    .header__name
      span.header__name-here= name
      br
      span.header__surname= surname
    .header__job= job
