.layout-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 3.805em;
  margin-right: 3.309em;
  margin-top: 4.964em;
  //max-height: 3508px*0.55;
  max-height: 4000px*0.55;
  //background-color: antiquewhite;
}