.layout-grid {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: 3.805em;
  margin-right: 3.309em;
  margin-top: 4.964em;
  max-height: 4000px*0.55;
}

@media screen and (max-width: 400px) {
  .layout-grid {
    margin-left: 8vw;
    margin-right: 8vw;
  }
}

@media screen and (max-width: 722px) {
  .layout-grid {
    flex-wrap: nowrap;
  }
}
