@import '../progress-list-item/progress-list-item';

.progress-list {
  list-style-type: none;

  &__item {
    &:nth-child(1) {
      margin-bottom: 0.15rem;
    }

    &_type {
      &_for-experience {
        &:nth-child(1) {
          margin-bottom: 0;
        }

        &:nth-child(2) {
          margin-bottom: 0.15rem;
        }
      }
    }
  }
}
