mixin progress-list({ items, nameColor})
  ul.progress-list
    each item in items
      - 
        const { name, period, title, description } = item;
        
        const modifiers = {
          nameColor: {
            blue: 'progress-list__item-name_color_blue',     
          },
        };

      li.progress-list__item
        .progress-list__item-header              
          span.progress-list__item-name(class=modifiers.nameColor[nameColor])= name
          span.progress-list__item-period // !{period}
        span.progress-list__item-title= title
        p.progress-list__item-description= description
