include ../block-header/block-header
include ../progress-list/progress-list

mixin experience(items)
  section.experience
    +block-header('experience')

    .experience__list
      +progress-list(items, 'experience')
