@import '../progress-list/progress-list';

.experience {
  &__list {
    margin-top: 2.45rem;
    margin-left: 1.7rem;

    @media screen and (max-width: 726px) {
      margin-top: 1.5rem;
    }
  }
}
