include ../software-item/software-item

mixin software(items)
  .software
    - var childNumbers = []

    if items.length === 6
      - childNumbers = ["first", "second", "third", "fourth", "fifth", "sixth"]

    each item, index in items
      +software-item(item, childNumbers[index])
