@import '../software-item/software-item';

.software {
  justify-content: space-between;
  display: flex;
  flex-flow: row wrap;
  width: 99.3%;

  @media screen and (max-width: 726px) {
    align-items: center;
    flex-flow: column nowrap;
    height: auto;
  }
}
