.software__content-wrapper {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  //align-content: flex-start;
  height: 350px;
  //height: 25.622vw;
  margin-top: 25px;
  margin-left: 5.5px;
  margin-right: 0.5px;
  //background-color: aqua;
}