mixin software(tool, posession)
    - var posess = +posession
    .software__item
        .software__tool= tool
        .software__scale
            div(class='software__level' style={width: posess + '%'})


