@import '../software-item/software-item';

.software {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 17.7rem;
  width: 99%;

  @media screen and (max-width: 722px) {
    height: 35.714rem;
    align-content: center;
  }
}
