@import '../software-item/software-item';

.software {
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  height: 300px;
  width: 99%;

  @media screen and (max-width: 722px) {
    height: 500px;
    align-content: center;
  }
}


