.software__scale {
  width: 21.75vw;
  height: 1.772vw;
  background-color: #e6e6e6;
  margin-top: 11px;
  margin-left: 1px;
}

@media screen and (max-width: 722px) {
  .software__scale {
    width: 50vw;
    height: 2.5vw;
  }
}
