@import '../../styles/variables/colors';

.software {
  &__list {
    justify-content: space-between;
    display: flex;
    flex-flow: row wrap;
    width: 98.3%;
    padding: 0;
    margin: 1.4rem 0.0295rem 0 0.5rem;

    @media screen and (max-width: 726px) {
      align-items: center;
      flex-flow: column nowrap;
      height: auto;
    }
  }

  &__item {
    max-width: 18rem;
    width: 22.2vw;
    list-style: none;
  
    @media screen and (max-width: 726px) {
      width: 50vw;
    }
  }

  &__item-tool {
    color: $color-secondary-main;
    font-size: 1.66rem;
    text-transform: uppercase;
    letter-spacing: -0.03rem;
    overflow-wrap: anywhere;

    @media screen and (max-width: 400px) {
      font-size: 1.3rem;
    }
  }

  &__item-scale {
    background-color: $color-secondary-light;
    max-height: 1.36rem;
    height: 1.772vw;
    margin: 0.75rem 0 1.35rem 0.059rem;

    @media screen and (max-width: 726px) {
      height: 2.5vw;
    }

    @media screen and (max-width: 400px) {
      margin-top: 0.3rem;
    }
  }

  &__item-level {
    background-color: $color-primary;
    height: 100%;
  }
}
