include ../block-header/block-header

mixin software(items)
  .software
    +block-header("software")
  
    .software__list
      each item in items
        - var { tool, possession } = item;

        .software__item
          .software__item-tool= tool
          .software__item-scale
            .software__item-level(style={width: `${possession}%`})
