include ../block-header/block-header

mixin software(items)
  section.software
    +block-header('software')
  
    ul.software__list
      each item in items
        - const { tool, possession } = item;

        li.software__item
          .software__item-tool= tool
          .software__item-scale
            .software__item-level(style={width: `${possession}%`})
