@mixin font-face($font-family, $font, $type) {
  $weight: 400;
  $style: normal;

  @if $type == 'bold' {
    $weight: bold;
  }
  @else if $type == 'light-semi-ext' {
    $weight: 300;
  }

  $font-name: '#{$font}-#{$type}';

  @font-face {
    font-family: $font-family;
    font-style: normal;
    font-weight: $weight;
    src: url('../../assets/fonts/#{$font-name}/#{$font-name}.woff') format('woff'),
      url('../../assets/fonts/#{$font-name}/#{$font-name}.ttf') format('ttf'),
      url('../../assets/fonts/#{$font-name}/#{$font-name}.svg') format('svg');
  }
}
