@import '../../styles/variables/colors';

.software-item {
  &__tool {
    color: $black;
    font-size: 1.66rem;
    text-transform: uppercase;
  }

  &__scale {
    background-color: $light-gray;
    height: 1.772vw;
    margin-bottom: 1.475rem;
    margin-left: 0.059rem;
    margin-top: 0.708rem;
    width: 21.75vw;

    @media screen and (max-width: 722px) {
      height: 2.5vw;
      width: 50vw;
    }
  }

  &__level {
    background-color: $blue;
    height: 100%;
  }
}
