mixin software-item({ tool, possession }, childNumber)
  .software-item
    .software-item__tool= tool

    if childNumber
      div(class=`software-item__scale software-item__scale_child-number_${childNumber}`)
        .software-item__level(style={width: `${+possession}%`})

    else
      .software-item__scale
        .software-item__level(style={width: `${+possession}%`})
